<!DOCTYPE html>
<html lang="en">
  <%=require('./partials/head.html')%>
  <body>
    <header>
      <%=require('./partials/navbar.html')%>
    </header>
    <main>
      <%=require('./partials/home.html')%>
      <%=require('./partials/work.html')%>

      <div class="bg-wrapper">
        <%=require('./partials/about.html')%>
        <%=require('./partials/contact.html')%>
      </div>
    </main>
    <footer>
      <%=require('./partials/footer.html')%>
    </footer>

  </body>
</html>
